
h3 {
	color: #FFE552; 
	font-family: 'VT323', 
	monospace; font-size: 2em;
	margin-left: 70px;
	margin-right: 70px;
}

h1 {
	font-family: 'VT323', monospace; 
	font-size: 5em;
	margin-left: 70px;
	margin-right: 70px;

}

p {
font-family: 'Lato', sans-serif;
	font-size: 1.25em;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height:1.6em;
	color: #003262; 	
	letter-spacing: 1px;
	line-height: 1.6em;
}

table {
	margin-left: 70px;
	margin-right: 70px;
	border: 1px  ;
}

tr {
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	color: #003262; 
	font-size: 1.25em;	
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.6em;	
	letter-spacing: 1px;
	line-height: 1.6em;
}